#header {
	width: 100%;
	height: 50px;
	/* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
}

#wrapper {
	display: flex;
	min-height: inherit;
}

#left-panel {
	width: 60%;
	/* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars*/
	background: black;
	overflow: scroll;
}

#right-panel {
	background: #f1f1f1;
	font-family: Arial, Helvetica, sans-serif;
	width: 40%;
	height: inherit;
}

#bookmark-handup {
	background: #f1f1f1;
}

#lecture-note {
	background: #f1f1f1;
	min-height: inherit;

}

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innertube {
	margin: 15px;
	/* Provides padding for the content */
}

.logo-size {
	width:64px;
	height:64px;
	margin-top:-10px;
}

.logo-move-corner{
	float:left;
	position:absolute;
}

.move-title-up {
	margin-top:-10px;	
}

.title-move-right {
	margin-left:70px;
}
.image-properties {
	width:64px;
	height:64px;
	position:fixed;
	top:0;
	left:0;
}

.title-move {
	margin-left:70px;	
}

.video-center {
	margin-left:10%;
	
}

.button {
	background-color: #E4E4E4;
	/* Green */
	border: none;
	color: #646464;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 10px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 4px;
}

.button2 {
	background-color: #008CBA;
}

/* Blue */

.button3 {
	background-color: #f44336;
	float: right;
	border-radius: 12px;
}

/* Red */

html, body {
	height: 100%;
	margin: 0;
	width: 100%;
	min-height: 100%;
}

a {
	text-decoration: none;
}

p {
	color: #555;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	color: darkgreen;
	text-decoration: none;
}
